* {
  font-family: 'Chewy', cursive;
}

body {
  margin: 2em;
}

.wrapper{
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.alerts {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  font-size: 1.75em;
  margin-bottom: 0.7em;
  border-radius: 5px;
  max-width: 250px;
  width: 35%;
  padding: 0.5em;
  text-align: center;
  float: left;
  margin-top: 1em;
}

.welcome{
  float: none;
  width: 55%;
  margin:15px auto;
  max-width: 400px;
}

#board {
  max-width: 600px;
  width: 60%;
  float: left;
}

.square {
  width: 30%;
  height: 120px;
  background-color: white;
  border: 1px groove crimson;
  cursor: pointer;
  float: left;
  font-size: 68px;
  text-align: center;
}

.square:nth-of-type(3n + 1) {
  clear: both;
}

.square.x {
  content:url(/images/cat.png);
}

.square.o {
  content:url(/images/dog.png);
}

.notifications p {
  color: #7f7f7e;
  font-size: 1.2em;
}

.alerts, .notifications {
  display: none;
}

form {
  clear: both;
  width: 400px;
  margin: 0 auto;
  max-width: 500px;
}

.input-group{
  width: 100%;
  margin-bottom: 5px;
}

.input-group-addon{
  width: 75px;
}

form div:last-of-type {
  margin-top: 10px;
}

a.play-again {
  font-size: 1.5em;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}

.modal-content {
  display: flex;
  text-transform: capitalize;
  font-size: 48px;
  text-shadow: 25px;
  flex-direction: column;
  align-items: center;
  background-color: #B5E9FF;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
